body {
    color: #ffffdb;
    font-family: Calibri;
    background-color: #333333;
    background: #212121;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    overflow-x: hidden; /* prevent side scrolling */
    overflow-y: hidden; /* prevent vertical scrolling on main body */
}

.new-msg:hover {
    background-color: #eaa8ff;
}

.mark-as-read-btn:hover {
    background-color: black;
    border-radius: 3px;
    padding: 5px 5px;
}

.post {
    position: relative; 
    background-color: #333333;
    height: 84px;
    padding: 7px 15px 18px 50px;
    border-bottom: 1px solid #212121;
}

.post-selected {
    border-left: 6px solid #eaa8ff;
}

.post:hover {
    background-color: #212121;
    cursor: pointer;
}

.post:active + .post:focus {
    border-left: 6px solid #eaa8ff;
}

.scrollable {
    /* position: absolute; */
    /* border: 2px solid black; */
    /* left: 246px; */
    /* top: 150px; */
    /* width: 25.3%; */
    height: 79vh;
    overflow-y: auto;
}


.title {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-data {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
}

.subreddit {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
    color: #ffcdff;
}

.main-content {
    /* width: 95vw; */
    height: 86vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

@media (min-width: 700px) {
    .reddit-post {
        /* position: absolute; */
        background-color:#212121;
        padding: 0px 12px;   
        border-left: 1px solid black;
        /* top: 13.5%; */
        /* left: 43.5%; */
        width: 50%;
        height: 86vh;
        /* height: 100%; */
        /* width: 100%; */
        margin: 0;
        padding: 20px;
        z-index: 1;
        flex-grow: 1;
        /* overflow-y: scroll; */
    }
}

@media (max-width: 700px) {
    .reddit-post {
        display: none;
    }
    .toolbar {
        display:none;
    }
    .post-sidebar {
        width: 100vw;
        /* margin-left: 48px; */
    }
    .header-buttons {
        width: 100vw;
    }
    .scrollable {
        width: 100vw;
    }
    .menu-buttons {
        display: none;
    }
}

.post-title {
    font-size: 3em;
    font-weight: bold;
}

::selection {
    background-color: #6f40ff;
}

post-section-title {
    font-size: 17px;
    padding: 17px 0px 12px;
    display: block;
    font-weight: 600;
}

button .menu {
    padding: 0;
    width: 32px !important;
    height: 32px !important;
}
.menu:active {
    background-color: black;
}
.menu:hover {
    background-color: black;
}

.navbar {
    background-color: #6f40ff;
    padding: 0;
}

.logo {
    font-weight: bolder;
    font-size: 16px;
    padding: 0px 0px 0px 8px;
    color: white;
    position: absolute;
    top: 26%;
    /* right: 10%; */
    left: 4%;
    font-family: SegoeUI-SemiBold-final,Segoe UI Semibold,SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
    z-index: 3;
}

.search {
    /* background-color: #; */
    background-color: #382963;
    border: none;
    color: #eabfee00;
    border-radius: 3px;
    font-size: 16px;
    display: inline;
    padding: 5px 140px 5px 48px;
    /* position: absolute;
    top: 7px;
    left: 245px; */
    transition: 0.16s ease-in;
}

.search:focus, input:focus{
    outline: none;
    background-color: #38296399;
    color: #eabfee;
    padding: 5px 160px 5px 48px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#eabfee;
}

nav span button {
    display: inline-block;
    background-color: #6f40ff;
    color: white;
    border: none;
    width: 48px;
    height: 48px;
}

nav span button:focus {
    outline: none;
}

header {
    background-color: #212121;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid black;
    padding: 0px 0px 0px 48px;
    z-index: 1;
}

.new-msg {
    background-color: #ffcdff;
    font-weight: 400;
    padding: 4px 17px;
    color: #212121;
    border: none;
    border-radius: 2px;
    transition: background-color .156s ease;
    /* position: absolute;
    top: 55px;
    left: 95px; */
}

.hidden {
    display: none;
}

.post-sidebar {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    /* width: 25.3%; */
    width: 350px;
}

.header-buttons {
    padding-left: 50px;
    height: 55px;
    background-color: #333333;
    border-bottom: 1px solid black;
}

.post-header-button {
    background-color: transparent;
    transition: 0.16s ease;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
    align-items: flex-end;
    border: none;
}

.post-header-button:focus {
    border-bottom: 3px solid #eaa8ff;
    /* box-shadow: inset 0 0 3px #eaa8ff; */
    /* border-style: inset; */
    padding-bottom: 2px;
}
.post-header-button:hover {
    border-radius: 5px;
    background-color: #212121;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .menu {
    background-color: transparent;
    border: none;
    color: #ffcdff;
    width: 42px;
    height: 30px;
    margin: 0 5px;
    align-items: center
}


.mark-as-read-btn {
    background: transparent;
    color: #eaa8ff;
    border: none;
    margin: 0 40px;
}

aside {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* z-index: 0; */
    min-width: 48px;
    height: 86vh;
    background-color: black;
}

.toolbar button {
    background: black;
    width: 48px;
    height: 48px;
    border: none;
    transition: 0.16s ease-in;
}

.toolbar button:hover {
    background-color: #212121;
    margin: 10% 0;
}

.toolbar button:focus {
    border-left: 2px solid #eaa8ff;
    height: 9%;
}

.dot-menu {
    border: none;
    background-color: transparent;
    width: 48px;
    height: 48px;

}

.search-icon {
    position: absolute;
    left: 19.5%;
    z-index: 10;
}

.profile {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 15px;
    left: 13px;
}

.deselected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.get-started {
    margin-bottom: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    background-color: #212121;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c8c8c8;
}

@media (min-width: 920px) {
    .menu-selector {
        background-color: #212121;
        /* border-left: 1px solid black; */
        /* border: 2px solid white; */
        width: 250px;
        height: 86vh;
        /* position: relative;
        left: 48px; */
        overflow-y: auto;
    }
}

@media (max-width: 920px) {
    .menu-selector {
        display: none;
    }
}

.menu-selector button {
    background-color: #21212130;
    color: white;
    height: 40px;
    text-align: left;
    /* padding-left: 55px; */
    border: none;
}
.menu-selector button:hover {
    background-color: black;
    border-radius: 3px; 
}

.menu-selector svg {
    margin: 0px 20px 0px 5px;
}

.menu-selector button:hover {
    background-color: black;
}

.menu-selector button:focus {
    background-color: #4b4d61;
    color: #eaa8ff;
}

.favorites {
    padding: 15px 75px 15px 55px;
    font-weight: bold;
}

.menu-selector button:focus {
    outline: none;
}

.subreddits-section p {
    margin: 20px 75px 15px 55px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.subreddits-section {
    padding: 0;
    margin: 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.subreddits-section button {
    width: 100%;
    padding-left: 55px;
    background-color: #21212130;
    color: #eabfee;
    height: 40px;
    text-align: left;
    /* padding-left: 55px; */
    border: none;
}

.subreddits-section button:hover {
    background-color: black;
}

.subreddits-section button:focus {
    background-color: #4b4d61;
    color: #eaa8ff;
}

.meet-now {
    width: 120px;
}

.menu-buttons button:hover {
    background-color: #5733e1;
}

.menu-buttons {
    margin-
}
